body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Navbar */

header {
    width: 80%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid #e9e9e9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}


#logo {
    font-size: 3rem;
    font-weight: 700;
    color: #2b5ce1;
    margin-left: 5%;
}

nav {
    margin-right: 5%;
}

#navStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight:normal;
    
    
}

nav > ul > li {
    list-style: none;
}


/* Hero/Home  */

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
}

.hero {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.cta {
    width: 50%;
    margin-left: 5%;

}

.cta > h2 {
    font-size: 5rem;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5%;
}

.cta > p {
    font-size: 1.6rem;
    color: #687488;
    margin-top: 0;
    line-height: 3rem;
    
}

.buttons {
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    font-weight: bold;
}

#gs {
    background-color: #2b5ce1;
    color: white;
    padding: 1.5rem;
    width: 30%;
    border-radius: 10px;
    text-decoration-style: solid;
    border-color: #2b5ce1;
}

#gs > span {
    font-weight: bold;
    font-size: 1.2rem;
}


#lm {
    background-color: white;
    color: #2b5ce1;
    padding: 1.5rem;
    width: 30%;
    border-radius: 10px;
    border-color: #2b5ce1;
    border-width: 3px;
}

#lm > span {
    font-weight: bold;
    font-size: 1.2rem;
}

.image{
    width: 20%;
    align-self: center;
    border-radius: 10px;
}

.image > img {
    object-fit: fill;
    border-radius: 10px;
}


/* Features */

.features {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f9fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.features > h3 {
    font-size: 3rem;
    padding-top: 4%;
}


.features_details {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    padding-bottom: 10%;
}

.details_style {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
}

.details_style > span {
    font-size: 5rem;
    padding-top: 10%;
}

.details_style > h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.details_style > p {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color:gray;
    padding-bottom: 10%;
}


/* About */


.about {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 6rem;
    gap: 2rem;
    padding-bottom: 5%;
}

.about_details {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_details > h4 {
    font-size: 3rem;
    margin-top: 0;
}

.about_details > p {
    font-size: 1.4rem;
    line-height: 2rem;
    color: gray;
    font-weight: 500;
}

.stats {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5%;
}

.stats > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats > div > span {
    font-size: 3rem;
    font-weight: 800;
    color: #2b5ce1;
}

.stats > div > p {
    font-size: 1.2rem;
    font-weight: 600;
    color: gray;
}


.about_image {
    width: 20%;
    align-self: center;
    border-radius: 15px;

}

#lastImg {
    object-fit: fill;
    border-radius: 15px;
}

